nbproject/*
.idea/*
.settings/*
.project
.buildpath
downloader/*
errors/*
includes/*
lib/*
media/*
pkginfo/*
shell/*
var/*
.htaccess
index.php
mage
js/*
skin/adminhtml/*
skin/install/*
skin/frontend/base/*
skin/frontend/default/*
app/code/*
app/etc/*
app/locale/*
app/design/adminhtml/*
app/design/install/*
app/design/frontend/base/*
app/design/frontend/default/*